<!DOCTYPE html>


<html lang="en">

    <div class="navbar">

        <h2><button type="button" id="collapse1">Open</button><p style="text-align: right; vertical-align: middle; margin: 0px;">Your Links</p></h2>

        <div id="collapsible" class="collapsed">

            {% if link_list %}
                <ul style="padding-left: 5px">
                {% for link in link_list %}
                    <li class="list"> 
                        <a href="/sentiment/results/{{ link.id }}/">{{ link.link_url }}</a><button onclick="deleteMe(this, '{{ link.id }}')">Delete</button>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No links are available.</p>
            {% endif %}

        </div>

    </div>

    <title>
        Index
    </title>


    <header>
        {% load static %}
        <script defer src = "{% static 'sentiment/javascript/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'sentiment/css/test2.css' %}">
    </header>

    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    

        <section class="hidden">
            <h1>

                Welcome to Sentiment Finder

            </h1>
            <p style="max-width: 40vw">
                You can submit any link from the list of accepted websites. You will then be redirected to
                the results page for that website, that shows you the content from the site and gives you a sentiment
                score ranging from -1 to 1, -1 being very negative and 1 being very positive.
            </p>
            <img src="{% static 'sentiment/images/down_arrow.png' %}" alt="Downwards pointing arrow" style="max-height: 10vh; margin-top: 10vh;">
        </section>
        <section class="hidden">
            <img src="{% static 'sentiment/images/down_arrow.png' %}" alt="Downwards pointing arrow" style="max-height: 10vh; margin-bottom: 30vh;">
            <form action="/sentiment/index/" method="post">
                {% csrf_token %}
                <label for="link_view">Your link: </label>
                <input id="link_view" type="text" name="link-url" value="">
                <input type="submit" value="OK">
            </form>
        </section>

        

    </body>

    

</html>