<!DOCTYPE html>


<html lang="en">

    <div class="navbar">

        <h2>Your Links<button type="button" id="collapse1">close</button></h2>

        <div id="collapsible" class="collapsed">

            {% if link_list %}
                <ul style="padding-left: 5px">
                {% for link in link_list %}
                    <li class="list"> 
                        <a href="/sentiment/results/{{ link.id }}/">{{ link.link_url }}</a><button onclick="deleteMe(this, '{{ link.id }}')">Delete</button>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No links are available.</p>
            {% endif %}

        </div>

    </div>

    <title>
        Index
    </title>


    <header>
        {% load static %}
        <script defer src = "{% static 'sentiment/javascript/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'sentiment/css/index.css' %}">
    </header>

    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>    

        <section class="hidden">
            <h1>

                Welcome to Sentiment Finder

            </h1>
        </section>
        <section class="hidden">
            <form action="/sentiment/index/" method="post">
                {% csrf_token %}
                <label for="link_view">Your link: </label>
                <input id="link_view" type="text" name="link-url" value="">
                <input type="submit" value="OK">
            </form>
        </section>

        

    </body>

    

</html>