<!DOCTYPE html>

<html>

    <div class="navbar">
    <a href="../../"> Main page </a>
        <h2><button type="button" id="collapse1">Open</button><p style="text-align: right; vertical-align: middle; margin: 0px;">Your Links</p></h2>

        <div id="collapsible" class="collapsed">

            {% if link_list %}
                <ul style="padding-left: 5px">
                {% for link in link_list %}
                    <li class="list"> 
                        <a href="/sentiment/results/{{ link.id }}/">
                        {{ link.link_url }}</a><button onclick="deleteMe(this, '{{ link.id }}')">Delete</button>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No links are available.</p>
            {% endif %}

        </div>

    </div>

    <header>
    
        {% load static %}
        <script defer src = "{% static 'sentiment/javascript/url-display.js' %}"></script>
        <link rel="stylesheet" type='text/css' href="{% static 'sentiment/css/url-display.css' %}">
    </header>


    <body>

        <h1 style="padding-top: 100px;">

            {{ link_url }}

            {{ text_sentiment }}

        </h1>

        <p>
            {% if link_data %}
                {% for link in link_data %}
                    <br> {{ link }}
                {% endfor %}
            {% endif %}
        </p>

        <h2>

            {{ sentiment_score }}

        </h2>

    </body>
    
    

</html>