<!DOCTYPE html>

<html>
    
<a href="../../" style="position: fixed; top: 10px; background-color: whitesmoke;"> Main page </a>

    <div class="navbar">

        
    
        <h2><button type="button" id="collapse1">Open</button><p style="text-align: right; vertical-align: middle; margin: 0px;">Your Links</p></h2>

        <div id="collapsible" class="collapsed">

            {% if link_list %}
                <ul style="padding-left: 5px">
                {% for link in link_list %}
                    <p class="list"> 
                        <a href="/sentiment/results/{{ link.id }}/">
                        {{ link.link_url }}</a><button onclick="deleteMe(this, '{{ link.id }}')">Delete</button>
                    </p>
                {% endfor %}
                </ul>
            {% else %}
                <p>No links are available.</p>
            {% endif %}

        </div>

    </div>

    <header>
        <h1>Results</h1>
        {% load static %}
        <script defer src = "{% static 'sentiment/javascript/url-display.js' %}"></script>
        <link rel="stylesheet" type='text/css' href="{% static 'sentiment/css/url-display-alt.css' %}">
    </header>


    <body class="content">

        <h2>

            Link: {{ link_url }}
            <br>
            Sentiment: {{ text_sentiment }}
        </h2>

        <p>
            <div>Link content:</div>
            <div>
                {% if link_data %}
                    {% for link in link_data %}
                        {{ link }} <br>
                    {% endfor %}
                {% endif %}
            </div>
        </p>

        <h2>

            {{ sentiment_score }}

        </h2>

    </body>
    
    

</html>