<!-- 
    Page that the user can view the sentiment from the link they submitted and can
    navigate to the page associated with the submitted link. The user can also navigate
    to the main page and delete already submitted links, or navigate to said links.
-->

<!DOCTYPE html>

<html>
    
<a href="../../" style="position: fixed; top: 10px; background-color: whitesmoke;"> Main page </a>

    <div class="navbar">
        <h2><button type="button" id="collapse1">Open</button><p style="text-align: right; vertical-align: middle; margin: 0px;">Your Links</p></h2>

        <div id="collapsible" class="collapsed">

            {% if link_list %}
                <ul style="padding-left: 5px">
                {% for link in link_list %}
                    <p class="list"> 
                        <a href="/sentiment/results/{{ link.id }}/">
                        {{ link.link_url }}</a><button onclick="deleteMe(this, '{{ link.id }}')">Delete</button>
                    </p>
                {% endfor %}
                </ul>
            {% else %}
                <p>No links are available.</p>
            {% endif %}
        </div>
    </div>

    <title>
        Results
    </title>

    <header>
        <h1>Results</h1>
        {% load static %}
        
        <link rel="stylesheet" type='text/css' href="{% static 'sentiment/css/url-display.css' %}">
    </header>


    <body>

        <div class="container">
            <h2>
                Link: <a href="{{ link_url }}" class="link" target="_blank">{{ link_url }}</a>
                <br>
                Sentiment:<br>
                <span class="sentiment">{{ text_sentiment }}</span>
                <img class="smiley" src="/static/sentiment/images/{{ smiley }}.png" alt="{{ smiley }} smiley face">
            </h2>
        </div>

         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
         <script defer src = "{% static 'sentiment/javascript/url-display.js' %}"></script>

    </body>
    
    

</html>