@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.uncollapsed {
    display: block;
    background-color: white;
    width: auto;
    height: fit-content;
}

.collapsed {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.list {
    font-size: 15px;
    overflow-wrap: break-word;
}

.list button {
    margin-left: 10px;
    color: red;
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: white;
    border-style: outset;
    border-radius: 1px;
    height: auto;
    width: 200px;
}

body {
    display: relative;
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Prata", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 48px;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-weight: 20;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}

#collapse1 {
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    flex: auto;
}

h2 {
    margin: 5px;
    display: grid;
    height: auto;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}